{% extends "base.html" %}

{% block jsonld_breadcrumb %}
            ,{
                "@type": "BreadcrumbList",
                "@id": "{{ current_url | safe }}/#breadcrumb",
                "itemListElement": [
                    {
                        "@type": "ListItem",
                        "position": 1,
                        "name": "Home",
                        "item": "{{ config.base_url | safe }}"
                    },
                    {
                        "@type": "ListItem",
                        "position": 2,
                        "name": "{{ taxonomy.name | title }}",
                        "item": "{{ config.base_url | safe }}/{{ taxonomy.name }}/"
                    },
                    {
                        "@type": "ListItem",
                        "position": 3,
                        "name": "{{ term.name }}"
                    }
                ]
            }
{% endblock jsonld_breadcrumb %}

{% block content %}
<header>
    <div class="container">
        <h1>{{ taxonomy.name | title }}: {{ term.name }}</h1>
        <p class="subtitle">
            <span class="count">{{ term.pages | length }}</span> post{% if term.pages | length != 1 %}s{% endif %} tagged with "{{ term.name }}".
        </p>
    </div>
</header>

<section>
    <div class="container">
        <div class="posts">
            {% for page in term.pages %}
            <div class="post">
                <a href="{{ page.permalink }}">
                    <div class="post-row">
                        <time datetime="{{ page.date | date(format='%Y-%m-%d') }}">{{ page.date | date(format="%b %d") }}</time>
                        <h3>{{ page.title }}</h3>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock content %}
